---
- name: Placeholder playbook (noop)
  hosts: all
  gather_facts: false
  tasks:
    - name: Placeholder task
      ansible.builtin.debug:
        msg: "This playbook is a scaffold and will be implemented later."
