---
- name: Reload systemd
  ansible.builtin.systemd:
    daemon_reload: true

- name: Restart haproxy
  ansible.builtin.service:
    name: haproxy
    state: restarted

- name: Restart nftables
  ansible.builtin.service:
    name: nftables
    state: restarted
