image_name={{ golden_base_image_id }}
image_version={{ golden_base_image_version }}
build_utc={{ golden_base_build_time }}
git_sha={{ golden_base_git_sha }}
packer_template_id={{ golden_base_packer_template_id }}
