IMAGE_NAME={{ golden_base_image_id }}
IMAGE_VERSION={{ golden_base_image_version }}
BUILD_UTC={{ golden_base_build_time }}
GIT_SHA={{ golden_base_git_sha }}
PACKER_TEMPLATE={{ golden_base_packer_template_id }}
BASE_IMAGE_DIGEST={{ golden_base_base_image_digest }}
APT_SNAPSHOT={{ golden_base_apt_snapshot_url }}
